---
layout: page
---

{% for post in site.categories[page.category] %}
<article>
  <header>
  <h1><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h1>
  <p class="header-post">
    {% if post.author %}
    <span class="author">{{ post.author }}</span>
    {% endif %}
    {% if post.date %}
    <span class="date">{{ post.date | date: site.date}}</span>
    {% endif %}
  </p>
  </header>
  <div class="content-post">
    {{ post.excerpt }}
  </div>
  <footer>
  <a href="{{ post.url | absolute_url }}">Leer Más</a>
  </footer>
</article>
{% endfor %}
